flows/flows_maurosil.json
[{"type":"tab","id":"ce99083b.3166f8","label":"Flow 1"},{"id":"5c4e1f28.a3b1e","type":"QRadar","z":"ce99083b.3166f8","server":"9.98.16.120","port":6443,"token":"23ccf7a5-c86c-4ac5-b167-0b272f135d15","options":"source_addresses","name":"QRadar","x":372.5,"y":231,"wires":[["4bef0b44.b410f4"]]},{"id":"cf88cc05.30773","type":"inject","z":"ce99083b.3166f8","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":141,"y":59,"wires":[["3afcc222.c5033e"]]},{"id":"4bef0b44.b410f4","type":"debug","z":"ce99083b.3166f8","name":"","active":true,"console":"false","complete":"false","x":598.5,"y":109,"wires":[]},{"id":"3afcc222.c5033e","type":"function","z":"ce99083b.3166f8","name":"","func":"var source_addresses = {};\n\nsource_addresses.filter = {};\n\nsource_addresses.filter.source_ip = [\"10.109.137.195\", \"10.40.7.130\"];\n\nmsg.payload = {};\n\nmsg.payload.source_addresses = source_addresses;\n\nreturn msg;","outputs":1,"noerr":0,"x":200,"y":232,"wires":[["5c4e1f28.a3b1e"]]}]